{% extends 'front.html.twig' %}

{% block title %}Produits du panier{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .total-price {
            color: #001233; /* Votre couleur personnalisée ici */
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mb-4">Produits du panier</h1>

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Produit</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix</th>
                </tr>
            </thead>
            <tbody>
                {% for produit in produits %}
                    <tr>
                        <td>{{ produit.prod_name }}</td>
                        <td>{{ produit.quantity }}</td>
                        <td>{{ produit.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="mt-4">
            <p class="font-weight-bold">Total des prix :</p>
            <h2 class="total-price">{{ totalPrice }} €</h2>
        </div>

        <a href="{{ path('app_panier_index') }}" class="btn btn-primary mt-4">Retour au panier</a>
    </div>
{% endblock %}
