{% extends 'back.html.twig' %}

{% block livraison %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="container">
    <Br>
    <div class="w3-table w3-striped">
        <table class="table table-bordered" id="Adback" style="background-color: white;">
            <script src="{{ asset('/assets/js/jquery.min.js') }}"></script>
            <input type="text" class="form-control" placeholder="Chercher" id="search2">
            <br>
            <thead class="w3-dark-grey">
            <tr>
                <th>Nom_Prenom_Client</th>
                <th>Adresse</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Date_Livraison</th>
                <th>DELETE</th>
              
            </tr>
            </thead>
            <tbody>
            {% for livraison in livraisons %}
    <tr>
        <td>{{ livraison.nomprenomclient }}</td>
        <td>{{ livraison.adresse }}</td>
        <td>{% if livraison.panier is not null %}{{ livraison.panier.price }}{% endif %}</td>
        <td>{{ livraison.quantity }}</td>
        <td>{{ livraison.date|date('d/m/Y') }}</td> {# Formater la date ici #}
        <td><a href="{{ path('deleteLivraison', {'id': livraison.id}) }}"><i class="fa fa-trash text-danger"></i></a></td>
    
    </tr>
{% endfor %}
<script>
                $(document).ready(function(){
                    $('#search2').keyup(function(){
                        search_table($(this).val());
                    });
                    function search_table(value){
                        $('#Adback tbody tr').each(function(){
                            var found = 'false';
                            $(this).each(function(){
                                if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                                {
                                    found = 'true';
                                }
                            });
                            if(found == 'true')
                            {
                                $(this).show();

                            }
                            else
                            {
                                $(this).hide();

                            }
                        });
                    }
                });
            </script>
            </tbody>
        </table>
        <Br>
        <Br>
    </div>
</div>

{# Afficher les liens de pagination #}
<div class="pagination">
    {{ knp_pagination_render(livraisons) }}
</div>
{% endblock %}
