{% extends 'front.html.twig' %}

{% block body %}
<section class="page-title">
  <!-- Container Start -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <!-- Title text -->
        <h3>Livraison</h3>
      </div>
    </div>
  </div>
  <!-- Container End -->
</section>
<!-- page title -->

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="contact-us-content p-4" style="background-color: #f8f9fa; color: #1a237e; border-radius: 5px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
                    <h5 class="text-center">🚚 Formulaire de Livraison 📦</h5>
                    <p class="text-center">"Remplissez le formulaire ci-dessous pour effectuer une nouvelle livraison. 📦📦📦✨"</p>
                </div>
            </div>
            <div class="col-md-10">
                <form action="{{ path('new_livraison') }}" method="post" id="livraisonForm">
                    {{ form_start(form) }}
                    <fieldset class="p-4" style="background-color: white; color: #1a237e;">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6 py-2">
                                    {{ form_row(form.NomPrenomClient, {'attr': {'class': 'form-control', 'placeholder': 'Nom et prénom du client *', 'required': true}}) }}
                                </div>
                                <div class="col-lg-6 pt-2">
                                    {{ form_row(form.Adresse, {'attr': {'class': 'form-control', 'placeholder': 'Adresse *', 'required': true}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6 pt-2">
                                    {{ form_row(form.date, {'attr': {'class': 'form-control', 'placeholder': 'Date Livraison *', 'required': true}}) }}
                                </div>
                                <div class="col-lg-6 pt-2">
                                    {{ form_label(form.panier, 'Prix du panier :') }}
                                    {{ form_widget(form.panier, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6 pt-2">
                                    {{ form_row(form.quantity, {'attr': {'class': 'form-control', 'placeholder': 'Quantity *', 'required': true}}) }}
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    {{ form_end(form) }}
                </form>
            </div>
        </div>
    </div>
</section>




{% endblock %}
