{% extends 'back.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
            
                <th>NomReservation</th>
                <th>NbPlace</th>
                <th>Etat</th>
                <th>Resdate</th>
                <th>Event Name</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
              
                <td>{{ reservation.NomReservation }}</td>
                <td>{{ reservation.NbPlace }}</td>
                <td>{{ reservation.Etat }}</td>
                <td>{{ reservation.resdate ? reservation.resdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.Evenement }}</td>
               
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
{% endblock %}
