{% extends 'front.html.twig' %}

{% block title %}Debat{% endblock %}

{% block body %}
    <h1>Debat</h1>
<script>
    function setRating(rating) {
        var Debatid = {{ debat.id }};
        fetch('{{ path('app_debat_update_rating', {'id': debat.id}) }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ rating: rating }),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Une erreur est survenue lors de la mise à jour de la note du debat.');
            }
            // Mettre à jour l'affichage des étoiles dans le navigateur
            var stars = document.querySelectorAll('.rating button');
            for (var i = 0; i < stars.length; i++) {
                if (i < rating) {
                    stars[i].classList.remove('btn-outline-secondary');
                    stars[i].classList.add('btn-warning');
                } else {
                    stars[i].classList.add('btn-outline-secondary');
                    stars[i].classList.remove('btn-warning');
                }
            }
        })
        .catch(error => {
            console.error('Erreur:', error);
        });
    }
</script>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ debat.id }}</td>
            </tr>
            <tr>
                <th>SujetDebat</th>
                <td>{{ debat.SujetDebat }}</td>
            </tr>
            <tr>
                <th>DescriptionDebat</th>
                <td>{{ debat.DescriptionDebat }}</td>
            </tr>
            <tr>
                <th>NomAnime</th>
                <td>{{ debat.NomAnime }}</td>
            </tr>
            <tr>
                <th>NoteAnime</th>
                <td>{{ debat.NoteAnime }}</td>
            </tr>

            <tr>
                                       <th scope="row">Note du debat</th>
    <td>
        <div class="rating">
            <button onclick="setRating(1)" class="btn btn-sm btn-outline-secondary">&#9733;</button>
            <button onclick="setRating(2)" class="btn btn-sm btn-outline-secondary">&#9733;</button>
            <button onclick="setRating(3)" class="btn btn-sm btn-outline-secondary">&#9733;</button>
            <button onclick="setRating(4)" class="btn btn-sm btn-outline-secondary">&#9733;</button>
            <button onclick="setRating(5)" class="btn btn-sm btn-outline-secondary">&#9733;</button>
        </div>
    </td>
        </tbody>
    </table>

    <a href="{{ path('app_debat_indexFront') }}">back to list</a>

    <a href="{{ path('app_debat_edit', {'id': debat.id}) }}">edit</a>

    {{ include('debat/_delete_form.html.twig') }}
{% endblock %}