{% extends 'base-back.html.twig' %}

{% block title %}Cosplay index{% endblock %}

{% block body %}
    <h1>Liste des cosplays</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom cosplay</th>
                <th>Description</th>
                <th>Personnage</th>
                <th>Imagecp</th>
                <th>Datecreation</th>
               {# <th>Nomma</th>#}

<th>Nom Material</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cosplay in cosplays %}
            <tr>
                <td>{{ cosplay.id }}</td>
                <td>{{ cosplay.nomcp }}</td>
                <td>{{ cosplay.descriptioncp }}</td>
                <td>{{ cosplay.personnage }}</td>
                <td>{{ cosplay.imagecp }}</td>
                <td>{{ cosplay.datecreation ? cosplay.datecreation|date('Y-m-d H:i:s') : '' }}</td>
                {# <td>{{ cosplay.nomma }}</td>#}
                <td>{{ cosplay.idmateriaux }}</td>
                <td>
                    <a href="{{ path('app_cosplay_show', {'id': cosplay.id}) }}"class="btn btn-primary">show</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                   <button type="button" class="btn btn-danger ms-2" onclick="window.location='{{ path('app_cosplay_edit', {'id': cosplay.id}) }}'">Edit</button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cosplay_new') }}">Create new</a>
{% endblock %}
