{% extends 'base-back.html.twig' %}

{% block title %}Materiaux{% endblock %}

{% block body %}
    <h1>Materiaux</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ materiaux.id }}</td>
            </tr>
            <tr>
                <th>Nomma</th>
                <td>{{ materiaux.nomma }}</td>
            </tr>
            <tr>
                <th>Typema</th>
                <td>{{ materiaux.typema }}</td>
            </tr>
            <tr>
                <th>Disponibilite</th>
                <td>{{ materiaux.disponibilite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_materiaux_index') }}">back to list</a>

    {#<a href="{{ path('app_materiaux_edit', {'id': materiaux.id}) }}">edit</a>#}

    {{ include('materiaux/_delete_form.html.twig') }}
{% endblock %}
